<header>
    <div class="header__left">
        <ul class="header__left__ul">
            <li class="header__left__li"><a href="/">トップ</a></li>
            <li class="header__left__li"><a href="/letters/new">新規投稿</a></li>
        </ul>
    </div>
</header>