<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/core.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/components/new_post.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/components/letter_design.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="container">
        <p>γ‚γγγζ›Έγ„γγζ‰‹η΄™γ§γ™π‰</p>
            <div class="card">
                <div class="card__content">
                    <img src="<%= letter.image %>" alt="<%= letter.subject %>">
                </div>
            </div>
            <a href="/letters/new">ζ–°θ¦ζ•η¨Ώ</a>
    </div>
</body>
</html>