@use "../variables.scss";

.flex-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(220px, 100%), 1fr));
  gap: 16px;
}

.card {
  position: relative;
}

.card__content {
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 1px 3px 0px rgb(48 44 44 / 20%);
  overflow: hidden;
  padding: 8px;
  box-sizing: border-box;
}

.card__content__subject {
  font-weight: bold;
}

.card__content p {
  text-align: left;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis; /* 省略記号（…）を付与 Give an ellipsis (...) */
  display: -webkit-box; /* 複数行に対応する Support for multiple lines */
  -webkit-line-clamp: 1; /* 4行目の最後に3点リーダーを付与 In this description, give a three-point leader at the end of the fourth line */
  -webkit-box-orient: vertical; /* Support for multiple lines */
}

.card__content:hover {
  /* background-color: #edd9ae; */
  opacity: 0.5;
}
